<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Canada MobileSpectrum</h1>
        <p>A fork of www.mobilespectrum.org for canada spectrum!</p>
        <p class="lead">Check here your country's mobile network spectrum allocation</p>
    </div>
</div>
<div class="container body-container">
    <h2> Locations </h2>
    <a routerLink="map">Select on map</a> or select a location below below:
    <ul>
        <li>Ontario
            <ul>
                <li><a routerLink="toronto">Toronto</a></li>
            </ul>
            <ul>
                <li><a routerLink="ottawa">Ottawa</a></li>
            </ul>
        </li>
        <li>Quebec
            <ul>
                <li><a routerLink="montreal">Montreal</a></li>
            </ul>
            <ul>
                <li><a routerLink="quebec">Quebec City</a></li>
            </ul>
        </li>
        <li>British Columbia
            <ul>
                <li><a routerLink="vancouver">Vancouver</a></li>
            </ul>
            <ul>
                <li><a routerLink="victoria">Victoria</a></li>
            </ul>
        </li>
        <li>Alberta
            <ul>
                <li><a routerLink="calgary">Calgary</a></li>
            </ul>
            <ul>
                <li><a routerLink="edmonton">Edmonton</a></li>
            </ul>
        </li>
        <li>Saskatchewan
            <ul>
                <li><a routerLink="regina">Regina</a></li>
            </ul>
            <ul>
                <li><a routerLink="saskatoon">Saskatoon</a></li>
            </ul>
        </li>
        <li>Manitoba
            <ul>
                <li><a routerLink="winnipeg">Winnipeg</a></li>
            </ul>
        </li>
        <li>New Brunswick
            <ul>
                <li><a routerLink="fredericton">Fredericton</a></li>
            </ul>
            <ul>
                <li><a routerLink="moncton">Moncton</a></li>
            </ul>
        </li>
        <li>Prince Edward Island
            <ul>
                <li><a routerLink="charlottetown">Charlottetown</a></li>
                
            </ul>
        </li>
        <li>Newfoundland and Labrador
            <ul>
                <li><a routerLink="stjohns">St. John's</a></li>
            </ul>
        </li>
        <br>
        <li>
            <a routerLink="northwest">Northwest Territories</a>
        </li>
        <li>
            <a routerLink="nunavut">Nunavut</a>
        </li>
        <li>
            <a routerLink="Yukon">Yukon</a>
        </li>
    </ul>
</div>
